.DisplayItem {
    /* border: red dotted; */

    position: relative;
    margin: 11px;

    /* display: flex;
    justify-content: left; */

    box-shadow: 2px 2px grey;

    /* animation: items-appear 1s ease-out forwards; */
}

/* @keyframes items-appear {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

.DisplayItem:hover {
    background-color: lightsalmon;
}

.DisplayDescription {
    /* border: red dotted; */
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
    margin-left: 13px;

    width: calc(100% - 3% - 100px - 13px);

}

.DescriptionText {
    margin: 0px;
}

.Tags {
    /* border: red dotted; */
    display: inline-block;
    font-size: 12px;
    color: grey;
}

.Date {
    /* border: red dotted; */
    display: inline-block;
    float: right;
    font-size: 12px;
    color: grey;
}

.Thumbnail {
    max-width: 90px;
    padding: 10px;
}