.DisplayItem {
    border: red dotted;

    position: relative;
    margin: 11px;

    /* display: flex;
    justify-content: left; */

}

.DisplayDescription {
    display: inline-block;
}


.Tags {
    font-size: 12px;
}

.Thumbnail {
    max-width: 100px;
}