.DisplayZone {
    border: red dotted;

    position: absolute;
    left: 5%;
    width: 90%;
    height: 95%;
}

.DisplayItem {
    border: red dotted;

    position: relative;
    margin: 11px;

    /* display: flex;
    justify-content: left; */
}

.Thumbnail {
    max-width: 100px;
}

