.Header {
    text-align: center;

    span {
        font-size: 30px;
        font-weight: bold;
    }
}

/* .Header:hover span {
    display: none;
}

.Header:hover:after {
    content: "by vince egalla";
    font-size: 30px;
} */

.DisplayZone {
    /* border: red dotted; */

    position: absolute;
    left: 5%;
    width: 90%;
    height: 80%;

    overflow: auto;
}

.Appear0 {
    animation: items-appear 800ms ease-out forwards;
}

.Appear1 {
    animation: items-appear1 1600ms ease-out forwards;
}

.Appear2 {
    animation: items-appear2 2400ms ease-out forwards;
}

.Appear3 {
    animation: items-appear3 3200ms ease-out forwards;
}

.Appear4 {
    animation: items-appear4 4000ms ease-out forwards;
}

@keyframes items-appear {
    from {
        opacity: 0;
        transform: translateX(-5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes items-appear1 {
    from {
        opacity: 0;
        transform: translateX(-5rem);
    }

    50% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes items-appear2 {
    from {
        opacity: 0;
        transform: translateX(-5rem);
    }

    66% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes items-appear3 {
    from {
        opacity: 0;
        transform: translateX(-5rem);
    }

    80% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes items-appear4 {
    from {
        opacity: 0;
        transform: translateX(-5rem);
    }

    84% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}