.page {
    /* border: dotted red; */
    text-align: center;
    background-color: #EDEAE5;

    max-width: 9in;
    margin: auto;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    
}

.wrapper {
    --width: 90vw;
    /* border: red dotted; */
    max-width: 800px;
    max-height: 800px;
    margin: auto;
    width: var(--width);
    height: var(--width);
    overflow: hidden;
}

.header {
    font-size: 28px;
    margin-top: 15px;
  }

.description {
    padding: 28px;
}

@media screen and (max-width: 531px) {
    .wrapper {
        width: 95% !important;
        /* height: 100% !important; */
    }
}
