.Header {
    text-align: center;
}

.DisplayZone {
    border: red dotted;

    position: absolute;
    left: 5%;
    width: 90%;
    height: 80%;

    overflow: auto;
}

.DisplayItem {
    border: red dotted;

    position: relative;
    margin: 11px;

    /* display: flex;
    justify-content: left; */

}

.DisplayDescription {
    display: inline-block;
}


.Tags {
    font-size: 12px;
}

.Thumbnail {
    max-width: 100px;
}